%head
  %title Summary of your social media activity
  %link{:rel => :stylesheet, :type => "text/css", :href => "style.css"}

%center
  .heading
    Social Scraper
  %br
  %br
  %form{:action => "summary", :method => "post"}
    %img(src="fb.png")
    %input{:id => "fb", :type => "text", :name => "fb", :placeholder => "Your Facebook page's id"}
    %br
    %br
    %img(src="twitter.png")
    %input{:id => "twitter", :type => "text", :name => "twitter", :placeholder => "Your Twitter username"}
    %br
    %br
    %img.insta(src="insta.png")
    %input{:id => "insta", :type => "text", :name => "insta", :placeholder => "Your Instagram username"}
    .from_to
      &nbsp; &nbsp; &nbsp; &nbsp;
      %input{:id => "film", :type => "text", :name => "film1", :placeholder => "Film in the 'film' column"}
      &nbsp; &nbsp;
      %input{:id => "film", :type => "text", :name => "film2", :placeholder => "Keywords (comma separated)"}
      %br
      from
      %input{:id => "date", :type => "text", :name => "boundary[hi]", :placeholder => "MM/DD/YYYY"}
      &nbsp; &nbsp; to
      %input{:id => "date", :type => "text", :name => "boundary[low]", :placeholder => "MM/DD/YYYY"}
      %br
      %br
    %input{:type => "submit"}
