%head
  %title Summary of your social media activity
  %link{:rel => :stylesheet, :type => "text/css", :href => "style.css"}

%center
  .heading
    Social Scraper
  %br
  %form{:action => "summary", :method => "post"}
    %img(src="fb.png")
    %input{:id => "names", :type => "text", :name => "fb", :placeholder => "Your Facebook page's id"}
    %br
    %br
    %img(src="twitter.png")
    %input{:id => "names", :type => "text", :name => "twitter", :placeholder => "Your Twitter username"}
    %br
    %br
    .from_to
      from &nbsp;
      %input{:id => "date", :type => "text", :name => "boundary[hi]", :placeholder => "DD/MM/YYYY"}
      &nbsp; &nbsp; to &nbsp;
      %input{:id => "date", :type => "text", :name => "boundary[low]", :placeholder => "DD/MM/YYYY"}
      %br
      %br
    %input{:type => "submit"}
